<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="perfit:publishCounters" value="true"/>
    <add key="perfit:publishErrors:a" value="false"/>
    <add key="perfit:publishErrors:b" value="true"/>
    <add key="perfit:publishEvent:c" value="false"/>
  </appSettings>
</configuration>