<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="perfit:publishCounters" value="true"/>
        <add key="perfit:publishErrors:a" value="false"/>
        <add key="perfit:publishErrors:b" value="true"/>
        <add key="perfit#publishErrors" value="true"/>
        <add key="perfit:publishEvent:c" value="false"/>
        <add key="perfit:samplingRate:c" value="0.1"/>
        <add key="perfit:samplingRate" value="0.2"/>
        <add key="perfit#publishEvent#cc" value="false"/>
        <add key="perfit#samplingRate#cc" value="0.3"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
